div.car {
  padding: 20px;
  background: #9aa2e0;
  border-radius: 5px;

  h3 {
    margin-top: 0px;
    &.expensive{
      color: aquamarine;
      font-size: 1.5em;
    }
  }

  p.price {
    color: #cdd673;
  }

  p.complecity {
    font-size: 0.8em;
    color: brown;
  }

  img {
    width: 300px;
    margin-bottom: 20px;
  }
  .img-container{
    text-align: center;
    margin-bottom: 20px;
  }
}
