<div class="car">
  <div class="img-container">
    <button (click)="changeImage(false)"><< prev</button>
    <button (click)="changeImage(true)">next >></button>
    <div>
      <img [src]="carImage">
    </div>
  </div>
  <h3 [ngClass]="{expensive:isExpensive()}">{{car.name}}</h3>

  <div *ngIf="showInfo; then btnHide else btnShow"></div>
  <ng-template #btnHide>
    <button (click)="showInfo=false">Hide</button>
  </ng-template>
  <ng-template #btnShow>
    <button (click)="showInfo=true">Show</button>
  </ng-template>

  <div class="info" *ngIf="showInfo">
    <div class="edit-name">
      <input type="text" [(ngModel)]="car.name" (ngModelChange)="onChange()">
      <!--    <input #nameE type="text" (input)="changeName(nameE.value)">-->
      <!--    <button (click)="changeName(nameE.value)">Edit</button>-->
    </div>
    <p class="price">{{car.price}}</p>
    <p class="complecity">{{car.complecity}}</p>

  </div>
</div>
