<h1>Hello, world</h1>
<p>Last data change:
  <span>{{changeDate|date:'dd.MM.yyyy HH:mm:ss'}}</span>
</p>
<app-my></app-my>
<app-car *ngFor="let car of cars" [car]="car" (dataChange)="onDataChange($event)"></app-car>
